@import 'globals';

.button {
  @extend .horizontallyCentered;
  align-items: center;
  width: 110px;
  height: 30px;
  padding: 6px 8px;
  border-radius: 7px;
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  @extend .horizontallyCentered;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.disabledButton {
  @extend .button;
  background-color: $soft-grey;
  color: $dark-grey;
}

.primaryButton {
  @extend .button;
  background-color: $dark-green;
  color: $text-green;
}

.cancelButton {
  @extend .button;
  background-color: $soft-error;
  color: $dark-error;
}

.primaryButton:hover,
.cancelButton:hover {
  cursor: pointer;
}

.primaryButton::before,
.cancelButton::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 7px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 500ms;
  background-color: rgba(0, 0, 0, 0);
}

.primaryButton:hover::before,
.cancelButton:hover::before {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .button {
    width: 18.3vw;
    height: 5vw;
    padding: 1vw 1.3vw;
    border-radius: 1.66vw;
    font-size: 2.8vw;
  }
}
