@import "globals";

.buyMeACoffeeContainer {
  @extend .centeredColumn;
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.buyMeACoffeeImage {
  width: 15vw;
}

@media screen and (max-width: 900px) {
  .buyMeACoffeeContainer {
    top: 1vw;
    right: 1vw;
  }

  .buyMeACoffeeImage {
    width: 20vw;
  }
}
