@import 'globals';

.entryBox input {
  @extend .standardText;
  width: 200px;
  border: 1px solid $soft-grey;
  border-radius: 10px;
  outline: none;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  padding: 5px 15px;
  margin: 20px 20px 0px 20px;
}

.nameEntryBox {
  @extend .entryBox;
  margin-bottom: 5vh;
}

.enterRoomNameBox {
  @extend .entryBox;
}

.enterRoomNameBox input {
  margin-top: 0px;
}

.entryBox input::placeholder {
  color: $soft-grey;
}

@media screen and (max-width: 600px) {
  .entryBox input {
    width: 33.33vw;
    border-radius: 1.33vw;
    height: 5vw;
    font-size: 5vw;
    line-height: 5vw;
    font-size: 2.5vw;
    padding: 0.83vw 2.5vw;
    margin: 3.33vw 3.33vw 0px 3.33vw;
  }
}
