@import 'globals';

.finishedScreen {
  @extend .centeredColumn;
}

.waitForHost {
  @extend .softText;
  margin: 30px 0px;
}

.wrapContainer {
  @extend .horizontallyCentered;
  width: 100vw;
  flex-wrap: wrap;
}

.congratulations {
  color: $text-grey;
  font-size: 20px;
}

.finalScoreSection {
  margin: 2vh 0px 4vh 0px;
  color: $text-grey;
}

.finalScoreBubble {
  @extend .horizontallyCentered;
  align-items: center;
  width: 8vh;
  height: 8vh;
  border-radius: 38px;
  border: 2px solid $soft-grey;
  font-size: 3vh;
}

.playAgainButton {
  margin: 5vh 0px 2vh 0px;
}

.leaveRoomButton {
  margin: 2vh 0px 6vh 0px;
}

@media screen and (max-width: 600px) {
  .congratulations {
    font-size: 3.33vw;
  }

  .waitForHost {
    margin: 5vh 0px;
    font-size: 2.66vw;
  }
}
