@import 'globals';

.header {
  @extend .horizontallyCentered;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-size: 8vh;
}

.headerStandard {
  @extend .header;
  @extend .standardText;
}

.headerDarkTheme {
  @extend .header;
  @extend .darkThemeText;
}

@media screen and (max-height: 500px) {
  .header {
    font-size: 40px;
  }
}
