@import 'globals';

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

.app {
  @extend .centeredColumn;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

.classicApp {
  @extend .app;
  background-color: white;
}

.spaceApp {
  @extend .app;
  background-image: url('../img/space_bg.jpg');
}

.beachApp {
  @extend .app;
  background-image: url('../img/beach_bg.jpg');
}

.chalkApp {
  @extend .app;
  background-image: url('../img/chalk_bg.jpg');
}
