@import 'globals';

.poweredByText {
  font-family: 'Open Sans', sans-serif;
  color: $text-grey;
  font-size: 12px;
  margin-bottom: 5px;
}

.logo {
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 16.67vw;
    height: 16.67vw;
  }
}

@media screen and (max-width: 400px) {
  .poweredByText {
    font-size: 3vw;
    margin-bottom: 1.25vw;
  }
}
