@import 'globals';

.poweredByText {
  font-size: 12px;
  margin-bottom: 5px;
}

.poweredByTextStandard {
  @extend .poweredByText;
  @extend .standardText;
}

.poweredByTextDarkTheme {
  @extend .poweredByText;
  @extend .darkThemeText;
}

.logo {
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 11.66vw;
    height: 11.66vw;
  }

  .poweredByText {
    font-size: 2vw;
    margin-bottom: 0.833vw;
  }
}
