@import 'globals';

.logoSection {
  @extend .centeredColumn;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $soft-grey;
  margin-top: 10vh;
}

.poweredByText {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 11.66vw;
    height: 11.66vw;
  }

  .poweredByText {
    font-size: 2vw;
  }
}
