@import 'globals';

.finishedScreen {
  overflow: hidden;
}

.scorecard {
  overflow-y: scroll;
  width: 200px;
  height: 23vh;
  border: 1px solid $soft-grey;
  border-radius: 10px 0px 0px 10px;
  padding: 15px;
  margin: 15px 15px;
}

.scoreCardLabel {
  @extend .horizontallyCentered;
  color: $text-grey;
  margin-bottom: 15px;
}

.scoreEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px;
  width: 100%;
  color: $text-grey;
}

.scoreWord {
  font-style: italic;
}

.badWord {
  text-decoration: line-through;
  color: $dark-error;
}

.goodWord {
  color: $dark-green;
}

.badScore {
  color: $dark-error;
}

.goodScore {
  color: $dark-green;
}

.totalScore {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid $soft-grey;
  margin-top: 5px;
  padding-top: 5px;
  font-weight: bold;
  color: $text-grey;
}
