@import 'globals';

.waitingScreen {
  @extend .centeredColumn;
  margin-bottom: 75px;
}

.roomLabel {
  @extend .standardText;
  margin-top: 50px;
  font-size: 20px;
}

.playersDisplay {
  @extend .horizontallyCentered;
  flex-wrap: wrap;
  margin-top: 50px;
}

.player {
  @extend .centeredColumn;
  color: $soft-grey;
  margin: 30px;
}

.icon {
  font-size: 30px;
}

.playerName {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}

.startGameButton {
  @extend .centeredColumn;
  margin-top: 50px;
  margin-bottom: 20px;
}

.hostMessage {
  @extend .softText;
  margin-bottom: 50px;
}

.waitingForHost {
  @extend .horizontallyCentered;
  @extend .softText;
  margin-top: 50px;
  margin-bottom: 75px;
}

@media screen and (max-width: 400px) {
  .roomLabel {
    font-size: 5vw;
    margin-top: 12.5vw;
  }

  .icon {
    font-size: 7.5vw;
  }

  .playerName {
    font-size: 5vw;
    margin-top: 2.5vw;
  }

  .player {
    margin: 7.5vw;
  }

  .playersDisplay {
    margin-top: 12.5vw;
  }

  .waitingScreen {
    margin-bottom: 18.75vw;
  }

  .startGameButton {
    margin-top: 12.5vw;
    margin-bottom: 5vw;
  }

  .waitingForHost {
    margin-bottom: 18.75vw;
    margin-top: 12.5vw;
    font-size: 4vw;
  }

  .hostMessage {
    margin-bottom: 12.5vw;
    font-size: 4vw;
  }
}
