@import 'globals';

.waitingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomLabel {
  @extend .standardText;
  margin-top: 50px;
  font-size: 20px;
}

.playersDisplay {
  @extend .horizontallyCentered;
  margin-top: 50px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $soft-grey;
  margin: 0px 30px;
}

.icon {
  font-size: 30px;
}

.playerName {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}

.startGameButton {
  @extend .horizontallyCentered;
  margin-top: 100px;
  margin-bottom: 20px;
}

.leaveGameButton {
  margin-bottom: 60px;
}
