@import "globals";
@import "EntryBox";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

.welcomeScreen {
  @extend .centeredColumn;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.enterRoomSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.customRoomSection {
  @extend .centeredColumn;
}

.enterRoomButton {
  margin-top: 2vh;
}

.returnButton {
  margin-top: 15vh;
  margin-bottom: 20vh;
}

.orSeparator {
  width: 1px;
  height: 12vh;
  background-color: $soft-grey;
  margin: 0vw 1vw;
}

.orSeparatorStandard {
  @extend .orSeparator;
  @extend .standardText;
}

.orSeparatorDarkTheme {
  @extend .orSeparator;
  @extend .darkThemeText;
}

.randomRoomSection {
  @extend .centeredColumn;
  margin: 20px;
}

.separator {
  margin-bottom: 4vh;
  width: 100%;
}

.headerText {
  margin: 2vh 0px;
  font-size: 2vh;
}

.headerTextStandard {
  @extend .headerText;
  @extend .standardText;
}

.headerTextDarkTheme {
  @extend .headerText;
  @extend .darkThemeText;
}

.singlePlayerButton {
  margin-top: 3vh;
}

.multiPlayerButton {
}

@media screen and (max-height: 700px) {
  .headerText {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .orSeparator {
    font-size: 2.33vw;
  }

  .randomRoomSection {
    margin: 3.33vw;
  }
}
