@import 'globals';
@import 'EntryBox';
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

.welcomeScreen {
  @extend .centeredColumn;
  margin-bottom: 16vh;
}

.enterRoomSection {
  @extend .centeredColumn;
  margin-bottom: 60px;
}

.enterRoomButton {
  margin-top: 40px;
}

.separator {
  margin-bottom: 30px;
  width: 100%;
  border-top: 1px solid $soft-grey;
}

.headerText {
  @extend .softText;
  margin: 30px 0px;
  font-size: 30px;
}

.singlePlayerButton {
  margin-top: 5px;
}

@media screen and (max-width: 400px) {
  .headerText {
    font-size: 7.5vw;
    margin: 7.5vw 0px;
  }

  .enterRoomSection {
    margin-bottom: 15vw;
  }

  .enterRoomButton {
    margin-top: 10vw;
  }

  .separator {
    margin-bottom: 7.5vw;
  }

  .singlePlayerButton {
    margin-top: 1.25vw;
  }
}
